--
-- PostgreSQL database dump
--

\restrict WPFExkb5fUHPXzhfrud6ZDqguedwCzLrnIkWrCG5JvcIlwTonHJf0d6DgpLdQjS

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: answers; Type: TABLE; Schema: public; Owner: courseruser
--

CREATE TABLE public.answers (
    id bigint NOT NULL,
    content character varying(255),
    correct boolean NOT NULL,
    question_id bigint NOT NULL
);


ALTER TABLE public.answers OWNER TO courseruser;

--
-- Name: answers_id_seq; Type: SEQUENCE; Schema: public; Owner: courseruser
--

ALTER TABLE public.answers ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.answers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: questions; Type: TABLE; Schema: public; Owner: courseruser
--

CREATE TABLE public.questions (
    id bigint NOT NULL,
    content character varying(255),
    quiz_id bigint NOT NULL
);


ALTER TABLE public.questions OWNER TO courseruser;

--
-- Name: questions_id_seq; Type: SEQUENCE; Schema: public; Owner: courseruser
--

ALTER TABLE public.questions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.questions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: quizzes; Type: TABLE; Schema: public; Owner: courseruser
--

CREATE TABLE public.quizzes (
    id bigint NOT NULL,
    title character varying(255)
);


ALTER TABLE public.quizzes OWNER TO courseruser;

--
-- Name: quizzes_id_seq; Type: SEQUENCE; Schema: public; Owner: courseruser
--

ALTER TABLE public.quizzes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.quizzes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: answers; Type: TABLE DATA; Schema: public; Owner: courseruser
--



--
-- Data for Name: questions; Type: TABLE DATA; Schema: public; Owner: courseruser
--



--
-- Data for Name: quizzes; Type: TABLE DATA; Schema: public; Owner: courseruser
--

COPY public.quizzes (id, title) FROM stdin;
1	Geografia
2	Informatyka
\.


--
-- Name: answers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: courseruser
--

SELECT pg_catalog.setval('public.answers_id_seq', 80, true);


--
-- Name: questions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: courseruser
--

SELECT pg_catalog.setval('public.questions_id_seq', 20, true);


--
-- Name: quizzes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: courseruser
--

SELECT pg_catalog.setval('public.quizzes_id_seq', 2, true);


--
-- Name: answers answers_pkey; Type: CONSTRAINT; Schema: public; Owner: courseruser
--

ALTER TABLE ONLY public.answers
    ADD CONSTRAINT answers_pkey PRIMARY KEY (id);


--
-- Name: questions questions_pkey; Type: CONSTRAINT; Schema: public; Owner: courseruser
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_pkey PRIMARY KEY (id);


--
-- Name: quizzes quizzes_pkey; Type: CONSTRAINT; Schema: public; Owner: courseruser
--

ALTER TABLE ONLY public.quizzes
    ADD CONSTRAINT quizzes_pkey PRIMARY KEY (id);


--
-- Name: answers fk3erw1a3t0r78st8ty27x6v3g1; Type: FK CONSTRAINT; Schema: public; Owner: courseruser
--

ALTER TABLE ONLY public.answers
    ADD CONSTRAINT fk3erw1a3t0r78st8ty27x6v3g1 FOREIGN KEY (question_id) REFERENCES public.questions(id);


--
-- Name: questions fkn3gvco4b0kewxc0bywf1igfms; Type: FK CONSTRAINT; Schema: public; Owner: courseruser
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT fkn3gvco4b0kewxc0bywf1igfms FOREIGN KEY (quiz_id) REFERENCES public.quizzes(id);


--
-- PostgreSQL database dump complete
--

\unrestrict WPFExkb5fUHPXzhfrud6ZDqguedwCzLrnIkWrCG5JvcIlwTonHJf0d6DgpLdQjS

